.code-editor {
    background-color: #2e2734;

    pre {
        margin-bottom: 0;
    }

    header {
        background-color: #3a404b;

        .rounded-circle {
            height: .75rem;
            width: .75rem;

            &:nth-child(1) {
                background-color: #ff5f57;
            }

            &:nth-child(2) {
                background-color: #febc2e;
            }

            &:nth-child(3) {
                background-color: #28c840;
            }
        }
    }
}