@import "bootstrap";

@import "code-editor";

.post {
  h1 {
    max-width: 500px;
    line-height: 1;
  }

  h2 {
      padding-top: map-get($spacers, 4);
  }

  max-width: 800px;

  > :last-child {
    margin-bottom: 0;
  }
}

footer {
    --bs-link-color-rgb: var(--bs-secondary-rgb);
    --bs-link-hover-color-rgb: var(--bs-white-rgb);

    a {
        text-decoration: none;
    }
}

.navbar-brand
{
    img {
        width: 3rem;
    }
}

@include media-breakpoint-up(md)
{
    .prev-post {
        border-right: 2px var(--bs-border-style) var(--bs-border-color) !important;
    }

    .next-post {
      border-left: 2px var(--bs-border-style) var(--bs-border-color) !important;
  }
}

.card {
    position: relative;
  
    .card-img-container {
      overflow: hidden;
  
      img {
        display: block;
        width: 100%;
        height: auto;
        transition: transform 0.5s ease;
      }
    }
  
    &:hover .card-img-container img {
      transform: scale(1.1);
    }
  
    .stretched-link::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }
  
  p {
    > code {
      background-color: var(--bs-gray-300);
      padding: .1em .3em;
      font-family: monospace;
      display: inline-block;
      border-radius: #{$border-radius};
    }
}

.pagination {
  margin-bottom: 0;

  .page-link {
    font-weight: 900;
    font-family: "Source Sans 3", #{$font-family-core};
  }
}

.btn {
  font-family: "Source Sans 3", #{$font-family-core};
  letter-spacing: .075em;
}