<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{ partial "header.html" . }}
    {{ block "header" . }}{{ end }}
  </header>
  {{ block "main" . }}{{ end }}
  <footer class="p-5 text-white bg-dark">
    {{ partial "footer.html" . }}
  </footer>
  <img src="/assets/img/grunge-7084937.svg" class="position-absolute top-0 start-50 w-75 translate-middle z-n1 d-none" style="opacity: 0.1;">
</body>
</html>
